In [2]:
import math
math.sqrt(25)

5.0

In [3]:
math.pi

3.141592653589793

In [10]:
import numpy as np
from scipy import stats

In [13]:
dataOne = np.random.rand(5,5)
dataOne

array([[0.22298804, 0.56551708, 0.74808152, 0.88736042, 0.03525676],
       [0.5771289 , 0.05554371, 0.85184517, 0.16114082, 0.33282327],
       [0.87266271, 0.44418145, 0.95069059, 0.9788978 , 0.73508349],
       [0.27855617, 0.38312905, 0.12544145, 0.23521463, 0.28737441],
       [0.43172129, 0.69100679, 0.7048068 , 0.6483781 , 0.56073897]])

In [14]:
np.mean(dataOne)

0.5106227756579554

In [19]:
scipy.stats.describe(dataOne)

DescribeResult(nobs=5, minmax=(array([0.22298804, 0.05554371, 0.12544145, 0.16114082, 0.03525676]), array([0.87266271, 0.69100679, 0.95069059, 0.9788978 , 0.73508349])), mean=array([0.47661142, 0.42787562, 0.67617311, 0.58219835, 0.39025538]), variance=array([0.06813155, 0.05727059, 0.10387915, 0.13814031, 0.07196951]), skewness=array([ 6.12420839e-01, -6.29671897e-01, -1.17324530e+00, -1.37669955e-01,
       -8.60045061e-04]), kurtosis=array([-0.95433691, -0.67758592, -0.14304282, -1.70000603, -1.13038199]))

In [1]:
#pruebas de diferentes comandos

In [2]:
#Funciones
print("I love Data Science")

I love Data Science

In [3]:
#Variables
Prueba=25
type(Prueba)

int

In [4]:
Prueba2=25.0
type(Prueba2)

float

In [7]:
Prueba3=Prueba+Prueba2
type(Prueba3)

float

In [8]:
print(Prueba3)

50.0

In [3]:
#Lists and Dictionaries
Listone=[1,2,3,4]
Listone

[1, 2, 3, 4]

In [4]:
print(Listone[1:3])

[2, 3]

In [6]:
#Dictionaries
tel={"jack":4098, "sape":4139}
tel

{'jack': 4098, 'sape': 4139}

In [7]:
tel["jack"]

4098

In [4]:
#Chapter 5: Python for Data Science for dummies 2nd edition
fruits=['orange','apple','pear','banana','kiwi','apple','banana']
fruits
fruits.count('apple')

2

In [5]:
fruits.count('tangerine')

0

In [6]:
fruits.index('banana')

3

In [7]:
#find the next banana starting a position 4
fruits.index('banana',4)

6

In [9]:
fruits.reverse()
fruits

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [11]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear']

In [12]:
fruits.append('grape')
fruits

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear', 'grape']

In [15]:
fruits.pop()

'orange'

In [16]:
fruits

['apple', 'apple', 'banana', 'banana', 'kiwi']

In [18]:
stack = [3,4,5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [19]:
stack.pop()

7

In [20]:
stack

[3, 4, 5, 6]

In [21]:
stack.pop()

6

In [22]:
stack.pop()

5

In [23]:
stack

[3, 4]

In [24]:
from collections import deque

In [27]:
queue=deque(["Eric","John","Michael"])
queue

deque(['Eric', 'John', 'Michael'])

In [28]:
queue.append("Terry")
queue

deque(['Eric', 'John', 'Michael', 'Terry'])

In [29]:
queue.append("Graham")
queue

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [30]:
queue.popleft()
queue

deque(['John', 'Michael', 'Terry', 'Graham'])

In [31]:
queue.popleft()
queue

deque(['Michael', 'Terry', 'Graham'])

In [32]:
queue

deque(['Michael', 'Terry', 'Graham'])

In [35]:
squares=[]
for x in range(10):
    squares.append(x**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
squares= list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
squares=[x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [39]:
[(x,y) for x in [1,2,3] for y in [3,1,4] if x !=y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [40]:
combs=[]
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x,y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [41]:
vec=[-4,-2,0,2,4]
vec

[-4, -2, 0, 2, 4]

In [43]:
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [44]:
[x for x in vec if x>=0]

[0, 2, 4]

In [45]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [46]:
freshfruits=['banana', 'loganberry', 'passion fruits']
freshfruits

['banana', 'loganberry', 'passion fruits']

In [47]:
[weapon.strip() for weapon in freshfruits]

['banana', 'loganberry', 'passion fruits']

In [48]:
[(x,x**2) for x in range (6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [49]:
vec2 = [[1,2,3], [4,5,6], [7,8,9]]
vec2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [50]:
[num for elem in vec2 for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
from math import pi
[str(round(pi,i)) for i in range(1,6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [54]:
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
]
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [55]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [57]:
transposed=[]
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [61]:
transposed = []
for i in range(4):
    transposed_row=[]
    for row in matrix:
        transposed_row.append(row[i])
        transposed.append(transposed_row)
transposed

[[1, 5, 9],
 [1, 5, 9],
 [1, 5, 9],
 [2, 6, 10],
 [2, 6, 10],
 [2, 6, 10],
 [3, 7, 11],
 [3, 7, 11],
 [3, 7, 11],
 [4, 8, 12],
 [4, 8, 12],
 [4, 8, 12]]

In [63]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [68]:
a = [-1,1,66.25,333,333,1234.5]
a

[-1, 1, 66.25, 333, 333, 1234.5]

In [69]:
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [70]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [71]:
del a[:]
a

[]

In [72]:
#delete entire variables
del a

In [73]:
t=12345, 54321, 'hello!'
t

(12345, 54321, 'hello!')

In [74]:
t[0]

12345

In [75]:
u=t,(1,2,3,4,5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [77]:
#tuples are inmutable
t[0]=88888

TypeError: 'tuple' object does not support item assignment

In [78]:
v=([1,2,3], [3,2,1])
v

([1, 2, 3], [3, 2, 1])

In [79]:
empty=()
singleton='hello',
singleton

('hello',)

In [80]:
len(empty)

0

In [81]:
len(singleton)

1

In [90]:
x, y, z = t
t

(12345, 54321, 'hello!')

In [85]:
t

(12345, 54321, 'hello!')

In [92]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'orange', 'banana', 'apple', 'pear'}

In [93]:
'orange' in basket

True

In [95]:
'crabgrass' in basket

False

In [96]:
a=set('abracadabra')
b=set('alacazam')
a

{'a', 'b', 'c', 'd', 'r'}