In [2]:
import math
math.sqrt(25)

5.0

In [3]:
math.pi

3.141592653589793

In [10]:
import numpy as np
from scipy import stats

In [13]:
dataOne = np.random.rand(5,5)
dataOne

array([[0.22298804, 0.56551708, 0.74808152, 0.88736042, 0.03525676],
       [0.5771289 , 0.05554371, 0.85184517, 0.16114082, 0.33282327],
       [0.87266271, 0.44418145, 0.95069059, 0.9788978 , 0.73508349],
       [0.27855617, 0.38312905, 0.12544145, 0.23521463, 0.28737441],
       [0.43172129, 0.69100679, 0.7048068 , 0.6483781 , 0.56073897]])

In [14]:
np.mean(dataOne)

0.5106227756579554

In [19]:
scipy.stats.describe(dataOne)

DescribeResult(nobs=5, minmax=(array([0.22298804, 0.05554371, 0.12544145, 0.16114082, 0.03525676]), array([0.87266271, 0.69100679, 0.95069059, 0.9788978 , 0.73508349])), mean=array([0.47661142, 0.42787562, 0.67617311, 0.58219835, 0.39025538]), variance=array([0.06813155, 0.05727059, 0.10387915, 0.13814031, 0.07196951]), skewness=array([ 6.12420839e-01, -6.29671897e-01, -1.17324530e+00, -1.37669955e-01,
       -8.60045061e-04]), kurtosis=array([-0.95433691, -0.67758592, -0.14304282, -1.70000603, -1.13038199]))

In [1]:
#pruebas de diferentes comandos

In [2]:
#Funciones
print("I love Data Science")

I love Data Science

In [3]:
#Variables
Prueba=25
type(Prueba)

int

In [4]:
Prueba2=25.0
type(Prueba2)

float

In [7]:
Prueba3=Prueba+Prueba2
type(Prueba3)

float

In [8]:
print(Prueba3)

50.0

In [3]:
#Lists and Dictionaries
Listone=[1,2,3,4]
Listone

[1, 2, 3, 4]

In [4]:
print(Listone[1:3])

[2, 3]

In [6]:
#Dictionaries
tel={"jack":4098, "sape":4139}
tel

{'jack': 4098, 'sape': 4139}

In [7]:
tel["jack"]

4098

In [4]:
#Chapter 5: Python for Data Science for dummies 2nd edition
fruits=['orange','apple','pear','banana','kiwi','apple','banana']
fruits
fruits.count('apple')

2

In [5]:
fruits.count('tangerine')

0

In [6]:
fruits.index('banana')

3

In [7]:
#find the next banana starting a position 4
fruits.index('banana',4)

6

In [9]:
fruits.reverse()
fruits

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [11]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear']

In [12]:
fruits.append('grape')
fruits

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear', 'grape']

In [15]:
fruits.pop()

'orange'

In [16]:
fruits

['apple', 'apple', 'banana', 'banana', 'kiwi']

In [18]:
stack = [3,4,5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [19]:
stack.pop()

7

In [20]:
stack

[3, 4, 5, 6]

In [21]:
stack.pop()

6

In [22]:
stack.pop()

5

In [23]:
stack

[3, 4]

In [24]:
from collections import deque

In [27]:
queue=deque(["Eric","John","Michael"])
queue

deque(['Eric', 'John', 'Michael'])

In [28]:
queue.append("Terry")
queue

deque(['Eric', 'John', 'Michael', 'Terry'])

In [29]:
queue.append("Graham")
queue

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [30]:
queue.popleft()
queue

deque(['John', 'Michael', 'Terry', 'Graham'])

In [31]:
queue.popleft()
queue

deque(['Michael', 'Terry', 'Graham'])

In [32]:
queue

deque(['Michael', 'Terry', 'Graham'])

In [35]:
squares=[]
for x in range(10):
    squares.append(x**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
squares= list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
squares=[x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [39]:
[(x,y) for x in [1,2,3] for y in [3,1,4] if x !=y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [40]:
combs=[]
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x,y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [41]:
vec=[-4,-2,0,2,4]
vec

[-4, -2, 0, 2, 4]

In [43]:
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [44]:
[x for x in vec if x>=0]

[0, 2, 4]

In [45]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [46]:
freshfruits=['banana', 'loganberry', 'passion fruits']
freshfruits

['banana', 'loganberry', 'passion fruits']

In [47]:
[weapon.strip() for weapon in freshfruits]

['banana', 'loganberry', 'passion fruits']

In [48]:
[(x,x**2) for x in range (6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [49]:
vec2 = [[1,2,3], [4,5,6], [7,8,9]]
vec2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [50]:
[num for elem in vec2 for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
from math import pi
[str(round(pi,i)) for i in range(1,6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [1]:
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
]
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [55]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [57]:
transposed=[]
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [61]:
transposed = []
for i in range(4):
    transposed_row=[]
    for row in matrix:
        transposed_row.append(row[i])
        transposed.append(transposed_row)
transposed

[[1, 5, 9],
 [1, 5, 9],
 [1, 5, 9],
 [2, 6, 10],
 [2, 6, 10],
 [2, 6, 10],
 [3, 7, 11],
 [3, 7, 11],
 [3, 7, 11],
 [4, 8, 12],
 [4, 8, 12],
 [4, 8, 12]]

In [63]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [68]:
a = [-1,1,66.25,333,333,1234.5]
a

[-1, 1, 66.25, 333, 333, 1234.5]

In [69]:
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [70]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [71]:
del a[:]
a

[]

In [72]:
#delete entire variables
del a

In [73]:
t=12345, 54321, 'hello!'
t

(12345, 54321, 'hello!')

In [74]:
t[0]

12345

In [75]:
u=t,(1,2,3,4,5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [77]:
#tuples are inmutable
t[0]=88888

TypeError: 'tuple' object does not support item assignment

In [78]:
v=([1,2,3], [3,2,1])
v

([1, 2, 3], [3, 2, 1])

In [79]:
empty=()
singleton='hello',
singleton

('hello',)

In [80]:
len(empty)

0

In [81]:
len(singleton)

1

In [90]:
x, y, z = t
t

(12345, 54321, 'hello!')

In [85]:
t

(12345, 54321, 'hello!')

In [92]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'orange', 'banana', 'apple', 'pear'}

In [93]:
'orange' in basket

True

In [95]:
'crabgrass' in basket

False

In [2]:
#unique letters from two words
a=set('abracadabra')
b=set('alacazam')
a

{'a', 'b', 'c', 'd', 'r'}

In [3]:
a-b

{'b', 'd', 'r'}

In [4]:
a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [5]:
a & b

{'a', 'c'}

In [7]:
#letters in a or b but not both
a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

In [9]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [19]:
tel = {'jack': 4098, 'sape': 4139}
tel

{'jack': 4098, 'sape': 4139}

In [20]:
tel['guido']=4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [21]:
tel['jack']

4098

In [23]:
del tel['sape']
tel

{'jack': 4098, 'guido': 4127}

In [24]:
tel['irv']=4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [25]:
list(tel)

['jack', 'guido', 'irv']

In [26]:
sorted(tel)

['guido', 'irv', 'jack']

In [27]:
'guido' in tel

True

In [28]:
'jack' not in tel

False

In [29]:
dict([('sape',4139), ('guido',4127), ('jack',4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [30]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [31]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [32]:
knights = {'gallahad': 'the pure', 'robin':'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [33]:
for i, v in enumerate(['tic','tac','toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [35]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}? It is {1}.'.format(q, a))

What is your name? It is lancelot.
What is your quest? It is the holy grail.
What is your favorite color? It is blue.

In [36]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [37]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [38]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)
        
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [39]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'

In [41]:
non_null = string1 or string2 or string3
non_null

'Trondheim'

In [43]:
(1, 2, 3) < (1, 2, 4)

True

In [44]:
[1, 2, 3] < [1, 2, 4]

True

In [45]:
'ABC' < 'Pascal' < 'Python'

True

In [46]:
(1, 2, 3, 4) < (1, 2, 4)

True

In [47]:
(1, 2) < (1, 2, -1)

True

In [48]:
(1, 2, 3) == (1.0, 2.0, 3.0)

True

In [49]:
(1, 2, ('aa', 'ab')) < (1, 2, ('abc', 'a'), 4)

True

In [50]:
#Chapter 6: Python for Data Science for dummies 2nd edition
#Fibonacci numbers module
def fib(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

In [51]:
def fib2(n):
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [1]:
import fibo

ModuleNotFoundError: No module named 'fibo'

In [1]:
import sys

In [2]:
sys.ps1

'In : '

In [3]:
sys.ps2

'...: '

In [12]:
sys.ps1 = 'C> '
C> print('Yuck!')

NameError: name 'C' is not defined

In [13]:
import sys

In [14]:
sys.path.append('/ufs/guido/lib/python')

In [15]:
dir(sys)

['__breakpointhook__',
 '__displayhook__',
 '__doc__',
 '__excepthook__',
 '__interactivehook__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__stderr__',
 '__stdin__',
 '__stdout__',
 '_clear_type_cache',
 '_current_frames',
 '_debugmallocstats',
 '_enablelegacywindowsfsencoding',
 '_framework',
 '_getframe',
 '_git',
 '_home',
 '_xoptions',
 'api_version',
 'argv',
 'base_exec_prefix',
 'base_prefix',
 'breakpointhook',
 'builtin_module_names',
 'byteorder',
 'call_tracing',
 'callstats',
 'copyright',
 'displayhook',
 'dllhandle',
 'dont_write_bytecode',
 'exc_info',
 'excepthook',
 'exec_prefix',
 'executable',
 'exit',
 'flags',
 'float_info',
 'float_repr_style',
 'get_asyncgen_hooks',
 'get_coroutine_origin_tracking_depth',
 'get_coroutine_wrapper',
 'getallocatedblocks',
 'getcheckinterval',
 'getdefaultencoding',
 'getfilesystemencodeerrors',
 'getfilesystemencoding',
 'getprofile',
 'getrecursionlimit',
 'getrefcount',
 'getsizeof',
 'getswitchinterval',
 'gettrace',
 'getwindowsversion',
 'hash_info',
 'hexversion',
 'implementation',
 'int_info',
 'intern',
 'is_finalizing',
 'last_traceback',
 'last_type',
 'last_value',
 'maxsize',
 'maxunicode',
 'meta_path',
 'modules',
 'path',
 'path_hooks',
 'path_importer_cache',
 'platform',
 'prefix',
 'ps1',
 'ps2',
 'ps3',
 'set_asyncgen_hooks',
 'set_coroutine_origin_tracking_depth',
 'set_coroutine_wrapper',
 'setcheckinterval',
 'setprofile',
 'setrecursionlimit',
 'setswitchinterval',
 'settrace',
 'stderr',
 'stdin',
 'stdout',
 'thread_info',
 'version',
 'version_info',
 'warnoptions',
 'winver']

In [16]:
a = [1, 2, 3, 4, 5]

In [17]:
dir()

['In',
 'Out',
 '_',
 '_15',
 '_2',
 '_3',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'exit',
 'get_ipython',
 'quit',
 'sys']

In [23]:
sound/
      __init__.py
      formats/
              __init__.py
              wavread.py
              wavwrite.py
              aiffread.py
              aiffwrite.py
              auread.py
              auwrite.py
              ...
      effects/
              __init__.py
              echo.py
              surround.py
              reverse.py
              ...
      filters/
              __init__.py
              equalizer.py
              vocoder.py
              karaoke.py
              ...

SyntaxError: invalid syntax (<ipython-input-23-43e2695a7b0c>, line 1)